.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.page .byline,
.blog .byline,
.group-blog .byline {
	display: inline;
}

.single, .page {
    .entry-meta {
        text-align: right;
        padding-right: ( $grid-gutter-width / 8 );
    }
}

.entry-meta .byline, .entry-meta .posted-on {
    @extend h6;
    //@extend .small;
    font-family: "Roboto", sans-serif;
    font-size: .75rem;
    margin: 0;
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.entry-meta, .entry-meta a{
    color: #8a8c8e;
}

.single, .page {
    .entry-meta .byline, .entry-meta .posted-on {
        display: block;
        line-height: 1.625;
        //letter-spacing: .05em;
        font-size: .7rem;
        font-weight: 700;
        text-transform: uppercase;
    }
} 

.single, .page {
    .entry-meta .byline, .entry-meta .byline a {
        color: #636466;
    }
} 

.single, .page {
    .entry-meta .posted-on {
        border-top: 1px solid #ccc;
    }
} 

.single, .page {
    .entry-meta .posted-on, .entry-meta .posted-on a {
        color: #97999c;
    }
} 

.page-content,
.entry-content,
.entry-summary {
	//margin: .875em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.category-list, .pencil-page-intro {
    @extend h2;
    @extend .widget-title;
}

.category-list a:hover {
    text-decoration: none;
}

.site-content {
    padding-top: ( $grid-gutter-width );
    //padding-bottom: ( $grid-gutter-width );
}

.home, .single, .page, .archive, .search {
    article {
        padding-bottom: ( $grid-gutter-width * .75 );
    }
}

.home .post .row, .archive .post .row, .search .post .row, .single .post .entry-header, .single .attachment .entry-header, .page .page .entry-header, .page .attachment .entry-header {
    margin-bottom: .875em;
}

.single .post .entry-header, .single .attachment .entry-header, .page .page .entry-header, .page .attachment .entry-header {
    display: flex;
    align-items: center;
    justify-content: left;
}

@include media-breakpoint-up(sm){
    .home .post .row, .archive .post .row, .search .post .row {
        display: flex;
        align-items: center;
        justify-content: left;
    }
}

.home, .archive, .search {
    .post .featured-image img {
        margin-bottom: -1.5em;
    }
    .entry-meta {
	margin-bottom: 10px;
    }
    .post_format-post-format-quote {
	.pencil-post-format-wrapper {
	    padding: 20px;
	}
	blockquote {
	    color: #ffffff;
	    font-size: 1.25em;
	    margin-left: auto;
	}
	cite {
	    color: #ffffff;
	    display: block;
	    margin-top: 20px;
	    text-align: right;
	    font-size: .75em;
	    a {
		border-bottom-color: #ffffff;
		color: #ffffff;
	    }
	}
    }
    .post_format-post-format-link {
	.pencil-post-format-wrapper {	    
	    padding: 40px 20px 20px;
	    text-align: center;
	    a {
		color: #ffffff;
		border-bottom-color: #ffffff;
		font-size: 1.125em;
		font-weight: 700;
	    }
	}
    }
    .post_format-post-format-aside .pencil-post-format-wrapper {
	padding: 40px 20px 20px;
    }
}

.featured-image-cat {
    @extend .fat-wpp-image-cat;
    margin-bottom: 0;
    display: inline-block;
    background-color: #fff;
    text-transform: uppercase;
}

.single, .page {
    article {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
        }
    }
} 

.about-author {
    padding-bottom:2em;
}

.author-avatar {
    display: inline-block;
    padding:1px;
    border: 1px solid #ddd;
    width:100%;
    //text-align: center;
    .avatar {
        width:100%;
    }
}

.pencil-author-social-icons a {
    border: 0;
}

.pencil-author-social-icons .fa {
    padding: .5em 0 0 .25em;
}

.author-avatar-wrapper {
    padding-bottom:1em;
    //text-align:center;
}

.author-avatar .avatar {
    //width:100%;
}

@include media-breakpoint-up(md){
    .author-avatar-wrapper {
        text-align: right;
    }
    .pencil-author-social-icons {
        //text-align: right;
    }
}

.content-area {
    padding-bottom: ( $grid-gutter-width );
}

.entry-footer {
    font-family: $headings-font-family;
}

.entry-footer .tags-links a {
    text-transform: uppercase;
}

.entry-footer a {
    border-bottom: none;
}

.page .entry-footer {
    text-align: right;
}

.site-footer {
    @extend .small;
    text-align: center;
    padding: 1.5em 1em;
    background-color: #000;
    color: #ccc;
    font-family: $headings-font-family;
    //position: absolute;
    width: 100%;
    //bottom: 0;
}

.site-footer a {
    border-bottom: 1px solid #ccc;
    color: #ccc;
}

.no-results.not-found, .error-404.not-found {
    text-align: center;
    padding-bottom: 3em;
    
    p {
        padding: 1em 0 0 0;
    }
    .lead {
        display: block;
        padding: 1em 0 0 0;
    }
    .search-submit {
        display: none;
    }
    label {
        width: 100%;
        //min-width: 300px;
    }
    .search-field {
        padding: .5em .5em .25em;
        //min-width: 300px;
        width: 60%;
        border-radius: 0;
        border-color: transparent;
        border-bottom-color: #000;
    }
}

.pencil-post-format-icon {
    position: absolute;
    right:( $grid-gutter-width / 2 );
    padding: 0 .75em;
    background-color: #fff;
}

.pencil-search-panel {
    display: none;
    position:fixed;
    top:0;
    right:0;
    width:100%;
    text-align: center;
    background-color: #fff;
    z-index: 3000;
    
    .pencil-search-panel-close {
        float: right;
        //padding:.75em 1em;
        margin: 3em;
    }
    
    .search-submit {
        display: none;
    }
    label {
        //padding: 3em 0 6em;
        width: 100%;
        //min-width: 300px;
    }
    .search-field {
        padding: .5em .5em .25em;
        margin: 4em 0 8em;
        //min-width: 300px;
        width: 60%;
        border-radius: 0;
        border-color: transparent;
        border-bottom-color: #000;
    }
}

.pencil-404 {
    h1{
        text-align: center;
        color: #ddd;
        margin: 0;
        font-size: 10em;
    }
}

@include media-breakpoint-up(md) {
    .pencil-404 {
        h1{
            font-size: 16em;
        }
    }
}
.site-info p {
    margin: 0;
}

.mejs-audio {
    margin-bottom: 1em;
}