.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
        //border-bottom: 1px solid #ccc;
        font-size: .75rem;
        font-weight: 700;
        letter-spacing: .05em;
        background-color: #fff;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 1em .25em .5em 1em;
                background-color: #000;

		ul {
			//box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			//float: left;
			//position: absolute;
			top: 4em;
			left: -999em;
			z-index: 99999;
                        padding: .25em .125em 0 .5em;
                        //background-color: #fff;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				//padding: .75em 0 .75em 1.5em; 
                                &:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100%;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		//float: left;
		position: relative;
                //padding:.75em;
                padding: 1em 0 1em 2em;
                //transition: .75s;
                background-color:#000;
                
                > a {
                    color: #fff;
                }
                
                &:hover,
		&.focus {
                    //background-color:#000;
                }
		&:hover > a,
		&.focus > a {
                    color: #999;
		}
	}
	a {
		display: block;
		text-decoration: none;
                color: #000;
                text-transform: uppercase;
	}
    
        a:hover {
            //color: #000;
        }

        .current_page_item,
	.current-menu-item,
        .current_page_ancestor,
        .current-menu-ancestor {
            background-color:#000;
        }
        
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
        .current-menu-ancestor > a {
            color: #999;
	}
}

.menu-toggle {
    //margin: .214em;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .05em;
}

.menu-toggle, .nav-func a, .search-toggle{
    display: inline-block;
}

.nav-func a {
    padding: 1.1em .5em 0 0;
}

.nav-func a:hover, .menu-toggle:hover, .search-toggle:hover, .pencil-search-panel-close:hover {
    color: #999;
}

.menu-toggle, .search-toggle, .pencil-search-panel-close {
    background-color: #000;
    color: #fff;
    padding:1.4125em;
    line-height:1;
    //padding: 1.375em;
    &:focus,
    &:active {
        background-color: #000;
        color: #fff;
    }
}

/* Small menu. */
/*.menu-toggle,*/
.main-navigation.toggled ul {
	display: block;
}

@include media-breakpoint-up(md) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
            
            ul {
                    display: block;
                    background-color: #fff;
                    padding: 0;
                    
                    ul {
                        float: left;
                        position: absolute;
                        margin-left: -0.75em;
                        padding: 0;
                        
                        li {
                            padding:1em 2em;
                            //background-color:#000;
                            
                            &:first-of-type {
                                //padding:1em .5em .5em 1.5em;
                            }

                            &:last-of-type {
                                //padding:.5em .5em 1em 1.5em;
                            }
                            
                            > a {
                                //color: #fff;
                            }
                            
                            &:hover,
                            &.focus {
                                background-color:#000;
                            }
                            &:hover > a,
                            &.focus > a {
                                color: #fff;
                            }
                        }
                        a {
				width: 240px;
                                max-width: 100%;
			}
                    }
            }
            li {
		float: left;
                padding:1.25em 0.75em;
                background-color:#fff;
                
                > a {
                    color: #000;
                }
                
                &:hover,
		&.focus {
                    background-color:#000;
                }
		&:hover > a,
		&.focus > a {
                    color: #fff;
		}
            }
            .current_page_item,
            .current-menu-item,
            .current_page_ancestor,
            .current-menu-ancestor {
                background-color:#000;
            }

            .current_page_item > a,
            .current-menu-item > a,
            .current_page_ancestor > a,
            .current-menu-ancestor > a {
                color: #fff;
            }
        }
        .nav-func {
            float: right;
        }     
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
/* Social area in menu*/
.nav-func {
    float: right;
    text-align: right;
}
nav {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
}

.toggled {

    #toggled-navbar-bg {
        display:none;
        position: fixed;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, .95);
        z-index: 1048;
    }
    
    #toggled-navbar-bg > .primary-menu {
        //display:none;
        width: 320px;
        max-width: 100%;
        height:100%;
        overflow: auto;
    }
    
    .primary-menu > .nav-menu {
        display:none;
        width:105%;
        height:100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

#toggled-menu-close {
    display: block;
    text-align: right;
    padding:1em 2em 0 0;
    button {
        color: #fff;
        background-color: #000;
    }
    
    button:hover {
        color: #999;
    }
}

.overflow-hidden {
    overflow-y: hidden;
}