.fat-wpp-image-cat {
    @extend h6;
    display: inline-block;
    padding: .25em .5em .25em 0;
    margin-bottom: 0;
    background-color: #fff;
}
.fat-wpp-image-cat a{
    font-size: .75em;
    text-transform: uppercase;
    color: #8a8c8e;
}

.fat-wpp-list > li {
    padding: 0.5em;
    margin: 0 0 ( $grid-gutter-width / 2 );
    background-color:#f0efef;
}

.fat-wpp-list > li > h2 {
    font-size: 1.5em;
    line-height: 1.1875;
    margin-top: .375em;
    margin-bottom: 0;
    font-weight:700;
}

.fat-wpp-list > li > h2 > a {
    background-color: #fff;
    color: #363738;
    &:hover{
        //color: aqua;
    }
}

.fat-wpp-image {
    position: relative;
}

.fat-wpp-image img{
    margin-bottom: -1.5em;
}

.popular-posts .pencil-post-format-icon {
    right: 0; //( ( $grid-gutter-width / 2 ) + .5 );
}